.column {
    padding-right: 2%;

    &:last-child {
        padding-right: 0;
    }
}

.column__copyright {
    margin-right: 50px;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    white-space: nowrap;
}

.column__name > h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.column__menu {
    color: #fff;
}