.footer__container {
    width: 100%;
    padding: 8% 3%;
    background-color: #252830;
}

.footer__column-left {
    display: flex;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}