.hero__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 0 10px;
}

.hero__bottom-buttons {
    display: flex;
    justify-content: center;
}