.reviews {
    background: url('~images/bg/Budda.png') center top / cover no-repeat;
}

.reviews__container {
    padding-top: 264px;
    padding-bottom: 250px;

  @include desktop {
      padding-top: 232px;
      padding-bottom: 190px;
  }

  @include tablets {
      padding-top: 247px;
      padding-bottom: 250px;
    }

    @include phones {
      padding-top: 150px;
      padding-bottom: 20px;
    }
}