.slider__header {
    margin-bottom: 95px;
    display: flex;
    justify-content: space-between;
    padding-right: 50%;
}

.slider__round-btn {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}