.socials {
    display: flex;
}

.socials__icon {
    width: 25px;
    height: 25px;
    fill: $text-color;

    &:hover {
        fill: #4B6FD7;
        transition: .3s;
    }
}

.socials__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}