.thumbs {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 178px;
}

.thumbs__item {
  height: 100px;
  transition: .2s;
   &.active,
   &:hover {
    outline: 3px solid #008BFF;
  }
}

.thumbs__link {
  display: block;
  height: 100%;
}