.user__display-avatar {
  display: flex;
  align-items: center;
}

.user__display-style {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.user__display-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.user__display-occ {
    color: rgba($text-color, .3);
    font-weight: 600;
}