.works__container {
    padding-bottom: 150px;
}

.works__section-title > h3 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 92px;
    color: #464d62;
}

.works__preview {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}