.about__content
    .about__title
        p Пегушин Артём
    .about__text-info
        p Я увлекаюсь футболом, историей, географией. Совсем недавно, я открыл для себя программирование! Надеюсь достичь успехов в этом нелёгком направлении! Обязательно изучите мои проекты, нажмите всё, что можно нажать! Кстати, данный сайт является mobile friendly!        