header.hero__header.header
    a.header__logo(href="https://pegunito.github.io/Portfolio/dist/#") ПА
    //-nav.header__menu.menu
        ul.menu__list.menu__list--header
            li.menu__item
                a(href="#", data-scroll-to="about").menu__link Обо мне
            li.menu__item
                a(href="#", data-scroll-to="values").menu__link Навыки
            li.menu__item
                a(href="#", data-scroll-to="works").menu__link Работы
            li.menu__item
                a(href="#", data-scroll-to="reviews").menu__link Отзывы
    
    .header__column-wrapper
        ul.hero__socials.socials.socials--header
            li.socials__item
                a(href='https://www.instagram.com/opashinana/', target="_blank").socials__link
                    +icon("insta", "socials__icon")
            li.socials__item
                a(href='https://vk.com/id17842201', target="_blank").socials__link
                    +icon("vk", "socials__icon")
            li.socials__item
                a(href='https://github.com/Pegunito', target="_blank").socials__link
                    +icon("github", "socials__icon")
            li.socials__item
                a(mailTo='artyomsasha@mail.ru', target="_blank").socials__link
                    +icon("envelope", "socials__icon")
        .header__hamburger.hamburger
            span.hamburger__plank.hamburger__plank--first
            span.hamburger__plank.hamburger__plank--second
            span.hamburger__plank.hamburger__plank--third
            span.hamburger__plank.hamburger__plank--fourth