script(type="text/x-template")#reviews

.reviews__slider.slider
    .slider__header
        .slider__title.section-title
            h3 Что обо мне говорят
        .slider__buttons
            button(type="button" @click="" ref="prevBtn").slider__round-btn.slider__round-btn--right
            button(type="button" @click="" ref="nextBtn").slider__round-btn.slider__round-btn--left
    .slider__content
        .slider__item.quote.quote(v-for="review in reviews")
            .quote__content
                .quote__text
                    p {{review.text}}
                .quote__user.user
                .user__display-avatar
                    .user__display-style
                        img(src="`/${review.photo}`").user__avatar-img
                    .user__display-data
                        .user__display-name {{review.author}}
                        .user__display-occ {{review.occ}}