script(type="text/x-template")#works-content
    div
        .works__section-title.section-title
            h3.works__title.title Мои работы
        .works__content
            pictures(
                :currentIndex="currentIndex"
                :works="works"
                :currentWork="currentWork"
                @slide="changeSlide"
            )
            info(
                :currentWork="currentWork"
            )

script(type="text/x-template")#works-pictures
    .works__pictures
        .works__image-wrap
            img(:src="currentWork.photo").works__image
            
        .works__index-wrap
            .works__index {{currentIndex+1}}
        preview(
            :works="works"
            :currentIndex="currentIndex"
            :currentWork="currentWork"
            @slide="handleSlide"

        )

script(type="text/x-template")#works-info
    .works__info
        tags(:currentTags="currentWork.skills")
        .works__info-title-wrap
            .works__info-title {{currentWork.title}}
        .works__info-desc
            p {{currentWork.desc}}
        .works__info-link
            a(:href="currentWork.link").iconed-link Посмотреть сайт

script(type="text/x-template")#works-tags
    ul.works__info-tags-list
        li.works__info-tags-item(v-for="tag in tags")
            .tag {{tag}}

script(type="text/x-template")#works-preview
    .works__preview
        ul.works__preview-list
            li.works__preview-item(v-for="work in works")
                img(:src="work.photo" :class="{active:currentWork.id === work.id}").works__preview-img
        btns(
            :currentIndex="currentIndex"
            :works="works"
            @changeSlide="slideWork"
        )

script(type="text/x-template")#works-btns
    .works__btn-wrap
        button(@click="slide('next')" :disabled="disableNext").works__btn.works__btn--next
        button(@click="slide('prev')" :disabled="disablePrev").works__btn.works__btn--prev 
