.values__info
    .values__title
        h3 Чем я могу быть полезен вам
    .values__content
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
.values__img
    +image("decor/bag.jpg", 'user__avatar-pic')
.values__widget
    - 
        var skillsCategories = [
            ["Front-end", ["HTML5", "CSS3", "Javascript", "Jquery и Vue.js"]],
            ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
        ];
