extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        
        include ./components/header.pug

        include ./components/hero.pug

    section.about
      .container.about__container
        .about__user.user
        
          include ./components/user.pug
          
        include ./components/about.pug

  .middle-section
    section.values
      .container.values__container

        include ./components/values.pug

          include ./components/skills.pug

                        .skills__list.skill
                          svg(viewbox="0 0 100 100").skill__cirlce-shape
                            circle(cx="50" cy="50" r="40").skill__circle.skill__circle--layer--under
                            circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform='rotate(180 50 50)').skill__circle.skill__circle--layer--above
                            linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                              stop(offset="0%" stop-color="#5500f2")
                              stop(offset="100%" stop-color="#8f00ef")

                          .skill__title #{skill}

    section.works
      .container
        .works__section-title.section-title
          h3 Мои работы
        .works__content
          .works__preview.preview

            include ./components/works__preview.pug

    section.reviews
      .container
        include /components/reviews.pug

    footer.footer
      .container.footer__container
        .footer__list
          .footer__column-left.column
            .column__copyright
              p © 2019
            .column__info
              .column__name
                h4 Владимир Астаханов
              .column__desc
                p Личный Сайт веб-разработчика
          .footer__column-middle.column
                nav.column__menu.menu
                  - var menuItems = ["Обо мне", "Навыки", "Работы", "Отзывы"];
                  ul.menu__list
                      each item in menuItems
                          li.menu__item
                              a(href="#").menu__link #{item}
                .column__text
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .column__socials
                  - var socials = ["insta", "vk", "github", "envelope"];
                  ul.hero__socials.socials
                      each item in socials
                          li.socials__item
                              a(href="#").socials__link
                                  +icon(item, "socials__icon")
          .footer__column-right.column
            .column__text
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            .footer__column-right-name
              p Martin Golding



          
