extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        
        include ./components/header.pug

        include ./components/hero.pug

    section.about
      .container.about__container
        .about__user.user
        
          include ./components/user.pug
          
        include ./components/about.pug

          
