extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        
        include ./templates/components/header.pug

        include ./templates/components/hero.pug

    section.about
      .container.about__container
        .about__user.user
        
          include ./templates/components/user.pug
          
        include ./templates/components/about.pug

  .middle-section
    section.values
      .container.values__container
        .values__info
          .values__title
              h3 Чем я могу быть полезен вам
          .values__content
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .values__img
          +image("decor/bag.jpg", 'user__avatar-pic')
        .values__widget
          #skills-component

    section.works
      .container.works__container
        .works__section-title.section-title
          h3 Мои работы
        .works__preview.preview
          #preview-component

    section.reviews
      .container.reviews__container
        #reviews-component

    footer.footer
      include ./templates/components/footer.pug

          



            



            

            



          
