extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        
        include ./templates/components/header.pug

        include ./templates/components/hero.pug

    section(data-section-id="about").about
      .container.about__container
        .about__user.user
        
          include ./templates/components/user.pug
          
        include ./templates/components/about.pug

  .middle-section
    section(data-section-id="values").values
      .container.values__container
        .values__info
          .values__title
              h3 Чем я могу быть полезен вам
          .values__content
              p Я очень много учусь и получаю знания каждый день! Ниже приведены мои навыки и умения.
        .values__img
          +image("decor/bag.jpg", 'user__avatar-pic')
        .values__widget
          #skills-component

    section(data-section-id="works").works
      .container.works__container
        #works-component
        
    section(data-section-id="reviews").reviews
      .container.reviews__container
        #reviews-component



          



            



            

            



          
